body {
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: left;
    padding-left: 200px;
    align-items: center;
    width: 100%;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 440px;
    height: 200px;
    text-align: left;
    position: relative;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #ff1493;
    color: black;
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: -30px;
    left: 50%;
    width: 400px;
    height: 60px;
    transform: translateX(-50%);
    border-radius: 5px;
}

.card-body {
    margin-top: 40px;
    font-size: 22px;
    color: #141314;
}